body {
	background:#e9c7ff;
	font-size: 22px;
	color:rgb(0, 0, 0);
	font-family: 'Caveat Brush', cursive;
	background-image: linear-gradient(to bottom, rgba(255, 0, 179, 0.342),#e9c7ff);
	background-repeat: no-repeat;
	background-size: cover;
}

h1{
	text-align:center;
	color:black;
	font-family: 'Caveat Brush', cursive;
}
img{
	display:block;
	margin-left: auto;
	margin-right: auto;
	-webkit-box-reflect: below 0px linear-gradient(to bottom
	
}